<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

<form action="#" th:action="@{/addItem}" th:object="${product}" method="POST" enctype="utf8">
  <div >
    <label >Produktname</label>
    <input type="text" th:field="*{productName}">
  </div>
  <div >
    <label >Kategorie</label>
    <input type="text" th:field="*{category}">
  </div>
  <div >
    <label>Menge</label>
    <input type="number" th:field="*{quantityBought}">
  </div>
  <div >
    <label>Preis pro Einheit</label>
    <input type="number" step="0.01" min="0" value="0.00" th:field="*{pricePerUnit}">
  </div>

  <button type="submit">speichern</button>
</form>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Sign Out"/>
</form>
</body>
</html>