<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>
</head>
<body>
<div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
<script th:inline="javascript">
    let labelsData = [];
    let valuesData = [];
    let test = [[${expenditure}]];
    for(let i in test){
        labelsData.push(i);
        valuesData.push(test[i]);
    }
    console.log(test);


    const data = [{
        values: valuesData,
        labels: labelsData,
        type: 'pie'
    }];

    const layout = {
        height: 400,
        width: 500
    };

    Plotly.newPlot('myDiv', data, layout);

</script>
</body>
</html>